<a href="https://colab.research.google.com/github/zamirsiddiqui/nlp/blob/master/drugs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# install ktrain on Google Colab
!pip3 install ktrain

In [0]:
# install the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import ktrain
from ktrain import text

Using TensorFlow backend.

using Keras version: 2.2.4

In [0]:
from google.colab import files
uploaded = files.upload()

Saving drugsComTrain_raw.csv to drugsComTrain_raw.csv

In [0]:
train = pd.read_csv('drugsComTrain_raw.csv')

In [0]:
test = pd.read_csv('drugsComTest_raw.csv',error_bad_lines=False)

b'Skipping line 8134: expected 7 fields, saw 9\nSkipping line 14218: expected 7 fields, saw 9\nSkipping line 18282: expected 7 fields, saw 9\nSkipping line 22383: expected 7 fields, saw 10\nSkipping line 24387: expected 7 fields, saw 9\nSkipping line 28472: expected 7 fields, saw 9\nSkipping line 30476: expected 7 fields, saw 9\nSkipping line 34608: expected 7 fields, saw 8\nSkipping line 36649: expected 7 fields, saw 9\nSkipping line 75519: expected 7 fields, saw 11\nSkipping line 81667: expected 7 fields, saw 11\nSkipping line 98675: expected 7 fields, saw 12\n'

In [0]:
test.head()

   uniqueID         drugName  ...       date usefulCount
0    163740      Mirtazapine  ...  28-Feb-12        22.0
1    206473       Mesalamine  ...  17-May-09        17.0
2    159672          Bactrim  ...  29-Sep-17         3.0
3     39293         Contrave  ...   5-Mar-17        35.0
4     97768  Cyclafem 1 / 35  ...  22-Oct-15         4.0

[5 rows x 7 columns]

In [0]:
train.head()

   uniqueID                  drugName  ...       date usefulCount
0    206461                 Valsartan  ...  20-May-12          27
1     95260                Guanfacine  ...  27-Apr-10         192
2     92703                    Lybrel  ...  14-Dec-09          17
3    138000                Ortho Evra  ...   3-Nov-15          10
4     35696  Buprenorphine / naloxone  ...  27-Nov-16          37

[5 rows x 7 columns]

In [0]:
train.describe()

            uniqueID         rating    usefulCount
count  161297.000000  161297.000000  161297.000000
mean   115923.585305       6.994377      28.004755
std     67004.445170       3.272329      36.403742
min         2.000000       1.000000       0.000000
25%     58063.000000       5.000000       6.000000
50%    115744.000000       8.000000      16.000000
75%    173776.000000      10.000000      36.000000
max    232291.000000      10.000000    1291.000000

In [0]:
#find the most common conditions that are treated
commonCdf = train['condition'].value_counts().nlargest(15)
print(commonCdf)

Birth Control                28788
Depression                    9069
Pain                          6145
Anxiety                       5904
Acne                          5588
Bipolar Disorde               4224
Insomnia                      3673
Weight Loss                   3609
Obesity                       3568
ADHD                          3383
Diabetes, Type 2              2554
Emergency Contraception       2463
High Blood Pressure           2321
Vaginal Yeast Infection       2274
Abnormal Uterine Bleeding     2096
Name: condition, dtype: int64

In [0]:
#checking out the test data
commonCdf2 = test['condition'].value_counts().nlargest(15)
print(commonCdf2)

Birth Control              9648
Depression                 3095
Pain                       2100
Anxiety                    1908
Acne                       1847
Bipolar Disorde            1380
Weight Loss                1248
Insomnia                   1231
Obesity                    1189
ADHD                       1126
Emergency Contraception     827
Vaginal Yeast Infection     811
Diabetes, Type 2            808
High Blood Pressure         783
Smoking Cessation           660
Name: condition, dtype: int64